body {
  background-color: #feffdf;
}

h1,
h3,
p {
  text-align: center;
}

div {
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

a {
  margin: 0 10px;
}

.email {
  text-decoration: underline;
  color: blue;
}

.email:hover {
  cursor: pointer;
}

@media (max-width: 576px) {
  h1,
  h3,
  p {
    text-align: left;
  }
}
